.body{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.backgroundimg{
    background-image: url("https://www.kindmeal.my/photos/shop/5/599-c.jpg");
    
    height: 300px;
}
.headers{
    display: flex;
    justify-content: space-between;
}
.offerdiv{
    display: flex;
    height: 400px;
 
}
.leftdiv{
    width: 50%;
   
    background-image: url("https://www.kindmeal.my/photos/shop/5/599-c.jpg");
    
    color: white;
}
.rightdiv{
    width: 50%;
   
}
.rightdiv div{
    
    width: 100%;
}
.getcoupon{
   background-color:  #2d96ff;
   color: white;
   border-radius: 5px;
   border: transparent;
}