.container{
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: center;   
     box-shadow: 0px 0px 6px #e0e0e0;
     width: 80%;
     margin: auto;
}
.container img{
    height: 100px;
}